<div class="row" id="">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Basic Commands</div>
      <div class="panel-body">
        <p>Pick up (item)</p>
        <p> Examine (item/location)</p>
        <p>Put Down (item)</p>
      </div>
    </div>
  </div><!--end of command list-->
</div>
<div class="row" id="">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Player Inventory</div>
      <div class="panel-body">
        <p>This is what you have</p>
        <ul>
          <li>Pocket Watch</li>
          <li>Lighter</li>
          <li>Cell Phone</li>
          <li>Wallet</li>
        </ul>
      </div>
    </div>
  </div><!--end of inventory-->
</div>